{% extends 'base.html' %}
{% load static %}

{% block content%}

{% include 'nav.html' %}


<div class="site-blocks-cover overlay" style="background-image: url(static/images/hero_bg_3.jpg);" data-aos="fade"
    data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row align-items-center justify-content-center text-center">
            <div class="col-md-8" data-aos="fade-up" data-aos-delay="400">
                <h1 class="text-white font-weight-light mb-5 text-uppercase font-weight-bold">CREW MANAGER</h1>
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li class="{{ message.tags }}">
                        <span class="message-text {% if message.tags == 'error' %}error{% endif %}">{{ message }}</span>
                        <button class="close-btn">&times;</button>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="container mt-5 text-dark">

    <div class="row align-items-center justify-content-between">
        <div class="col-md-6">
            <h2><b>CREW DETAILS</b></h2>
        </div>

        <div class="col-md-6">
            <div class="d-flex justify-content-end">
                <input type="text" id="searchInput" class="form-control" placeholder="Search...">
            </div>
        </div>
    </div>
    <div class="table-responsive mt-5 justify-content-center">
        <table class="table text-dark justify-content-center" id="detailsTable">
            <thead>
                <tr>
                    <th>NAME</th>
                    <th>EMAIL</th>
                    <th>PHONE</th>
                    <th>SHIP</th>
                    <th>DATE</th>
                    <th>TIME</th>
                    <th>STATUS</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                {% for i in crew %}
                <form id="translateForm" class="translator-form mt-5" action="{% url 'crewStatusUpdate' i.id %}"
                    method="post">
                    {% csrf_token %}
                    <tr class="{% cycle 'odd-row' 'even-row' %}">
                        <td>{{i.name}}</td>
                        <td>{{i.email}}</td>
                        <td>{{i.phone}}</td>

                        {% if not i.ship %}
                        <td class="text-danger py-2 px-4">
                            NOT ASSIGNED
                        </td>
                        {% else %}
                        <td class="text-success py-2 px-4">
                            {% for j in ship %}
                            {% if i.ship == j.id|stringformat:"s" %}
                            {{ j.name }}
                            {% endif %}
                            {% endfor %}
                        </td>
                        {% endif %}

                        {% if not i.date %}
                        <td class="text-danger py-2 px-4">
                            NOT ASSIGNED
                        </td>
                        {% else %}
                        <td class="text-success py-2 px-4">
                            {{ i.date }}
                        </td>
                        {% endif %}

                        {% if not i.time %}
                        <td class="text-danger py-2 px-4">
                            NOT ASSIGNED
                        </td>
                        {% else %}
                        <td class="text-success py-2 px-4">
                            {{ i.time }}
                        </td>
                        {% endif %}

                        {% if i.status == 1 %}
                        <td class="text-success py-2">ACTIVE</td>
                        {% else %}
                        <td class="text-danger py-2">NOT ACTIVE</td>
                        {% endif %}

                        {% if i.status == 1 %}
                        <td>
                            <button type="submit"
                                class="btn btn-danger text-black py-2 px-4 btn-block">DEACTIVATE</button>
                        </td>
                        {% else %}
                        <td>
                            <button type="submit"
                                class="btn btn-success text-black py-2 px-4 btn-block">ACTVATE</button>
                        </td>
                        {% endif %}


                    </tr>
                </form>
                {% endfor %}
                </form>
            </tbody>
        </table>
        <div class="form-group mt-5">
            <a href="{% url 'home' %}" class="btn btn-warning text-black py-2 px-4 btn-block"
                style="display: inline-block;">BACK</a>
        </div>
    </div>
</div>


<div class="site-section">

</div>




<div class="site-section bg-light">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 text-center border-primary">
                <h2 class="font-weight-light text-primary">ASSIGN SHIP TO THE CREW</h2>
                <p class="color-black-opacity-5">Select the Ship from the List</p>
            </div>
        </div>
        <form id="translateForm" class="translator-form mt-5" action="{% url 'addShipToCrew' %}" method="post">
            {% csrf_token %}
            <div class="form-group mb-4">
                <label for="fq_email">Crew</label>
                <select class="form-control btn-block" id="crew" name="crew" required style="height: 60px;">
                    <option value="" selected disabled>SELECT CREW</option>
                    {% for i in crewdrop %}
                    <option value="{{ i.id }}">{{ i.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group mb-4">
                <label for="fq_email">Ship</label>
                <select class="form-control btn-block" id="ship" name="ship" required style="height: 60px;">
                    <option value="" selected disabled>SELECT SHIP</option>
                    {% for i in shipdrop %}
                    <option value="{{ i.id }}">{{ i.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-row mb-4">
                <div class="form-group col-md-6">
                    <label for="start_time">Date</label>
                    <input type="date" class="form-control" id="date" name="date" required />
                </div>
                <div class="form-group col-md-6">
                    <label for="end_time">Time</label>
                    <input type="time" class="form-control" id="time" name="time" required />
                </div>
            </div>
            <button type="submit" class="btn btn-success text-black py-2 px-4 btn-block">UPDATE</button>
        </form>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
    $(document).ready(function () {
        $('#searchInput').on('keyup', function () {
            var searchText = $(this).val().toLowerCase();
            $('#detailsTable tbody tr').each(function () {
                var text = $(this).text().toLowerCase();
                if (text.includes(searchText)) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
        });
    });
</script>


<script>
    const closeButtons = document.querySelectorAll('.close-btn');

    closeButtons.forEach(button => {
        button.addEventListener('click', () => {
            const message = button.parentElement;
            message.remove();
        });

        setTimeout(() => {
            const message = button.parentElement;
            message.remove();
        }, 5000);
    });
</script>
<style>
    .messages {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .messages li {
        background-color: #5ed474;
        border: 1px solid #88d24f;
        border-radius: 4px;
        color: #000000;
        padding: 10px;
        position: relative;
        text-align: center;
        /* Center the message */
    }

    .messages li.error {
        background-color: #f44336;
        /* Red background for error messages */
        border-color: #d32f2f;
        color: white;
        /* White text for error messages */
    }

    .messages li .close-btn {
        background: none;
        border: none;
        color: #000000;
        cursor: pointer;
        font-size: 1.2em;
        padding: 0;
        position: absolute;
        right: 5px;
        top: 5px;
    }

    .messages li .close-btn:hover {
        color: #666;
    }

    .messages li .message-text {
        display: inline-block;
        max-width: 90%;
    }
</style>

{% include 'footer.html' %}

{% endblock %}