{% extends 'base.html' %}
{% load static %}

{% block content%}

{% include 'nav.html' %}

<div class="site-section bg-light mt-5">
    <div class="container mt-5">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 text-center border-primary">
                <h2 class="font-weight-light text-primary">ASSIGN SHIP PATH</h2>
                <p class="color-black-opacity-5">Route Optimize</p>
            </div>
        </div>
        <form class="translator-form mt-5" action="{%url 'optimize_route' %}" method="post">
            {% csrf_token %}
            <div class="form-group mb-4">
                <label for="lon_st">Start Longitude:</label>
                <input type="number" step=0.1 class="form-control btn-block" name="lon_st" placeholder="longitude" required>
            </div>
            <label for="lat_st">Starting Latitude:</label>
        <input type="number" id="lat_st" class="form-control btn-block" name="lat_st" step="0.1" required><br>

        <label for="lon_de">Destination Longitude:</label>
        <input type="number" id="lon_de" class="form-control btn-block" name="lon_de" step="0.1" required><br>

        <label for="lat_de">Destination Latitude:</label>
        <input type="number" id="lat_de" class="form-control btn-block" name="lat_de" step="0.1" required><br>

        <label for="stTime">Start Time:</label>
        <input type="text" id="stTime" class="form-control btn-block" name="stTime" required><br>

        <label for="eTime">End Time:</label>
        <input type="text" id="eTime" class="form-control btn-block" name="eTime" required><br>

        <label for="generation_count">Number of Generations:</label>
        <input type="number" id="generation_count" class="form-control btn-block" name="generation_count" required><br>

        <label for="pop_size">Population Size:</label>
        <input type="number" id="pop_size" class="form-control btn-block" name="pop_size" required><br>

        <label for="offspring">Offspring:</label>
        <input type="number" id="offspring" class="form-control btn-block" name="offspring" required><br>

        <label for="lon_min">Minimum Longitude:</label>
        <input type="number" id="lon_min" class="form-control btn-block" name="lon_min" step="0.1" required><br>

        <label for="lon_max">Maximum Longitude:</label>
        <input type="number" id="lon_max" class="form-control btn-block" name="lon_max" step="0.1" required><br>

        <label for="lat_min">Minimum Latitude:</label>
        <input type="number" id="lat_min" class="form-control btn-block" name="lat_min" step="0.1" required><br>

        <label for="lat_max">Maximum Latitude:</label>
        <input type="number" id="lat_max" class="form-control btn-block" name="lat_max" step="0.1" required><br>

        <label for="draft">Ship Draft:</label>
        <input type="number" id="draft" class="form-control btn-block" name="draft" step="0.1" required><br>

            <button type="submit" class="btn btn-success text-black py-2 px-4 btn-block">FIND OPTIMIZED ROUTE</button>
        </form>
        
    </div>
</div>



<div class="site-section">

</div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
    $(document).ready(function () {
        $('#searchInput').on('keyup', function () {
            var searchText = $(this).val().toLowerCase();
            $('#detailsTable tbody tr').each(function () {
                var text = $(this).text().toLowerCase();
                if (text.includes(searchText)) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
        });
    });

    $(document).ready(function () {
        $('#searchInput2').on('keyup', function () {
            var searchText = $(this).val().toLowerCase();
            $('#detailsTable2 tbody tr').each(function () {
                var text = $(this).text().toLowerCase();
                if (text.includes(searchText)) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
        });
    });
</script>


<script>
    const closeButtons = document.querySelectorAll('.close-btn');

    closeButtons.forEach(button => {
        button.addEventListener('click', () => {
            const message = button.parentElement;
            message.remove();
        });

        setTimeout(() => {
            const message = button.parentElement;
            message.remove();
        }, 5000);
    });
</script>
<style>
    .messages {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .messages li {
        background-color: #5ed474;
        border: 1px solid #88d24f;
        border-radius: 4px;
        color: #000000;
        padding: 10px;
        position: relative;
        text-align: center;
        /* Center the message */
    }

    .messages li.error {
        background-color: #f44336;
        /* Red background for error messages */
        border-color: #d32f2f;
        color: white;
        /* White text for error messages */
    }

    .messages li .close-btn {
        background: none;
        border: none;
        color: #000000;
        cursor: pointer;
        font-size: 1.2em;
        padding: 0;
        position: absolute;
        right: 5px;
        top: 5px;
    }

    .messages li .close-btn:hover {
        color: #666;
    }

    .messages li .message-text {
        display: inline-block;
        max-width: 90%;
    }
</style>

{% include 'footer.html' %}

{% endblock %}